
.flex-container{
    /* */
    display: flex;
    background-color: gray;
    flex-wrap:wrap;          /* item en una sola linea */
    justify-content: space-between;
    
      
}

.balda {
    /* background-color: gray; */
    
    background-color: rgb(80, 78, 78);
    color: white;
    text-align: center;    
    margin: 10px;  
    width: 100%;
    border: 2px;
    font-size: 60px;  
    
  }

.flex-subcolumna1{    
    background-color: white; 
    display: flex;   
    flex-direction: column;
    width: 50%;        
    
    
}

.flex-subcolumna1 > div:nth-child(1) {
    background-color: rgba(149, 233, 138, 0.774);           
    margin-top: 5px;
    text-align: center;        
    font-size: 30px;  
    width: 100%;
    
}   

.flex-subcolumna1 > div:nth-child(2) {

    background-color: rgba(149, 233, 138, 0.774);   
    width: 100%;
    height: 30%;
    flex: 1 1 auto;   
}   
    
.flex-subcolumna2 {          
       background-color: white; 
       display: flex;   
       flex-direction: column;
       width: 50%;        
       
}

.flex-subcolumna2 > div:nth-child(1) {
    background-color: rgba(89, 159, 240, 0.767);     
    margin-top: 5px;    
    text-align: center;        
    font-size: 30px;  
    width: 100%;
}   


.flex-subcolumna2 > div:nth-child(2) {
    background-color: rgba(89, 159, 240, 0.767);    
    width: 100%;
    height: 30%;
    flex: 1 1 auto;   

}   

.flex-subcolumna3{
    /* */
    background-color: gray;    
    
    display: flex;   
    flex-direction: column;
    width: 50%;      
    
}

.flex-subcolumna3 > div:nth-child(1) {
    background-color: rgba(245, 108, 98, 0.801);
    margin-top: 5px;    
    text-align: center;        
    font-size: 30px;  
    width: 100%;
}   

.flex-subcolumna3 > div:nth-child(2) {
    background-color: rgba(245, 108, 98, 0.801);
    width: 100%;
    height: 30%;
    flex: 1 1 auto;   



.img{
    /* width:50%; */
    /* border-radius: .4em; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 80%;
    /* opacity: 0.5; */
    
}
