
.flex-container{
    /* */
    display: flex;
    background-color: gray;
    flex-wrap:wrap;          /* item en una sola linea */
    justify-content: center;    
    width: 100%;
    
    /* align-items:center; */
    /* align-content: center; */
    
}
 /* .flex-container > div{

    background-color: rgb(112, 115, 117);
    width: 100;    
    margin: 5px;        
    text-align: center;   
    
}  */

.balda {
    background-color: gray;
    color: white;
    text-align: center;    
    margin: 1px;
    font-size: 50px;    
    padding: 10px;
    align-self:center;
  }

.flex-subcolumna1{
    /* */
    display: flex;
    background-color: gray;
    flex-wrap: nowrap;          /* item en una sola linea */
    width: 400;
    
    
    /* justify-content: space-around;     */
    /* align-items:center; */
}
.flex-subcolumna1 > div{
    background-color: rgba(149, 233, 138, 0.774);
    width: auto;    
    margin: 1px;
    padding: 30px;
    text-align: center;        
    width: 200px;    
    
}

.flex-subcolumna2{
    /* */
    display: flex;
    background-color: gray;
    flex-wrap: nowrap;          /* item en una sola linea */
    
    /* justify-content: space-around;     */
    /* align-items:center; */
}
.flex-subcolumna2 > div{
    background-color: rgba(89, 159, 240, 0.767);
    width: auto;    
    margin: 1px;
    padding: 30px;
    text-align: center;     
    width: 200px;       
}

.flex-subcolumna3{
    /* */
    display: flex;
    background-color: gray;
    flex-wrap: nowrap;          /* item en una sola linea */
    
    /* justify-content: space-around;     */
    /* align-items:center; */
}
.flex-subcolumna3 > div{
    background-color: rgba(245, 108, 98, 0.801);
    width: auto;    
    margin: 1px;
    padding: 30px;
    text-align: center;        
    width: 200px;    
}

.flex-subcolumna4{
    /* */
    display: flex;
    background-color: gray;
    flex-wrap: nowrap;          /* item en una sola linea */
    
    /* justify-content: space-around;     */
    /* align-items:center; */
}
.flex-subcolumna4 > div{
    background-color: rgba(210, 240, 140, 0.801);
    width: auto;    
    margin: 1px;
    padding: 30px;
    text-align: center;        
}


img{

    border-radius: 15px;
}
